.profile_load {
    text-align: center;
    padding: 10px;
}

.profile_container {
    background-color: rgb(206, 239, 182);
    box-shadow: 0 0 10px rgb(157, 155, 155);
    border-radius: 5px;
    max-width: 600px;
    margin: 0 auto;
    padding: 70px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 700px;
}

.img_container {
    background-color: rgb(192, 192, 192);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.btn_load {
    border: none;
    padding: 10px 15px;
    background-color: rgb(222, 215, 215);
    border-radius: 5px;
    cursor: pointer;

}